* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
    height: 900px;
    display: grid;
    grid-template-areas: 
    'banner banner banner'
    'sidebar maingrid maingrid'
    'footer footer footer'
    ;
    
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 2fr 80px;
    
}

header,
footer,
main,
nav {
    background-color: steelblue;
    color: white;
    padding: 20px;
    border: 1px solid skyblue;
}

header {
    grid-area: banner;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: #85DDCB;
    color: black;
}

nav {
    grid-area: sidebar;
    background-color: #E8A87C;
}

main {
    grid-area: maingrid;
    background-color: #C38D9E;
}

footer {
    grid-area: footer;
    background-color: #41b3a3;
}

.gamegrid {
    height: 500px;
    width: 500px;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);
    
}

.blocks {
    background-color: white;
    border: 1px solid black;
}